NODE_ENV=local

#App Name
APP=RAG

# API Configuration
API_KEY=1c6865f292b5866e838d0bc719c66fb8


#Database configuration
# You can copy this file to .env and fill in the values
# with your own database configuration.
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=


#OPENAPI API KEY 
OPENAI_API_KEY=''
EMBEDDING_MODEL=''

# For local Qdrant
QDRANT_URL=''

# For Qdrant Cloud (optional)
QDRANT_API_KEY=''